/* Colors
gray: #939393
*/

/* Global styles
-------------------------*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Arial", sans-serif;
  margin: 0;
}
h1,
h2 {
  font-weight: 400;
}
h1 {
  padding-top: 10px;
  font-size: 60px;
}
h2 {
  font-size: 32px;
  margin-top: 0;
  color: #0a7aad
}
h3 {
  margin: 0;
}
ul, li{
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 20px;
}
a {
  color: lightblue;
}
a:hover {
  text-decoration: none;
}
.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 60px 50px;
  overflow: hidden;
}
.dim {
  color: #888;
}
.light{
  color: white;
}
.short-top {
  padding-top: 0px;
}
.uppercase {
  text-transform: uppercase;
}

/* Download button */
.btn {
  text-decoration: none;
  background: lightblue;
  color: white;
  padding: 10px;
  display: inline-block;
}

/* Header and Footer
-------------------------*/
header,
footer {
  background: #939393;
  color: #ddd;
}
/* header */
header {
  padding-top: 50px;
  position: relative;
}
header h1,
header h2 {
  margin: 0;
}
.download {
  position: absolute;
  bottom: 0;
  right: 0;
}
.tag-line {
  color: white;
}

/* footer */
footer {
  text-align: center;
}
.contact-info a {
  padding: 10px;
  display: inline-block;
}

/* Navigation
-------------------------*/
nav {
  text-align: center;
  background: #111;
  position: fixed;
  top: 0;
  width: 100%;
}
nav a {
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

/* About
-------------------------*/
h2 + p {
  text-align: left;
}

/* Work Experience
-------------------------*/
.work {
  background: #edf2f4;
}
h3 ~ p {
  margin: 0;
}
.job-description {
  margin-bottom: 25px;
}
.job-description p:first-of-type {
  margin-top: 0;
}

/* Education
-------------------------*/
.education {
  background-image: url("../images/puzzle_piece_bottom.png");
  background-repeat: no-repeat;
  background-color: lightblue;
  background-position: right center;
}
p + h3 {
  margin-top: 30px;
}

/* Media Queries
-------------------------*/
@media (min-width: 900px) {
  .col-narrow {
    width: 30%;
    float: left;
  }
  .col-wide {
    width: 70%;
    float: left;
    padding-left: 20px;
  }
  .responsive-break {
    display: none;
  }
  .responsive-left-padding{
    padding-left: 100px;
  }
}
@media (max-width: 899px) {
  header {
    text-align: center;
  }
  ul{
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px
    
  }
  .profile-img {
    width: 204px;
  }
  .responsive-break {
    display: none;
  }
  .responsive-top-padding{
    padding-top: 28px;
  }
}
@media (max-width: 600px) {
  h1 {
    font-size: 34px;
  }
  h2 {
    font-size: 28px;
  }
  nav a {
    font-size: 12px;
  }
  .responsive-break {
    display: none;
  }
}
@media (max-width: 540px) {
  .responsive-break {
    display: block;
  }
  h3.my-title {
    padding-top: 4px;
    line-height: 1.6;
  }
}